<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nms.core.dao.MerchantMapper">

    <!-- 查询商户状态 -->
    <select id="queryMerState" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT NMI_MER_STAT AS merState FROM NP_MERCHANT_INFO WHERE NMI_MER_CODE = #{merCode}
    </select>

    <!-- 查询商户对应的帐号 -->
    <select id="queryMerchantAcctNo" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
          NMI_CORP_ACCOUNT as accNo
        FROM
          NP_MERCHANT_INFO,
          NP_ACC_INFO
        WHERE
          NMI_MER_CODE = #{merCode}
        AND NMI_MER_STAT = '0'
        AND NMI_CORP_ACCOUNT = NB_ACC_NO
    </select>

</mapper>