<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nms.core.dao.NbMapper">
    <!-- 生成订单 -->
    <insert id="insertOrder" parameterType="java.util.HashMap">
        INSERT INTO c_order_flow (
            order_no,
            cust_no,
            biz_type,
            pay_type,
            organ_id,
            order_date,
            order_time,
            trans_amt,
            order_state,
            remark
        )
        VALUES
        (
            #{prepay_id, jdbcType=VARCHAR},
            #{cust_no, jdbcType=INTEGER},
            #{biz_type, jdbcType=VARCHAR},
            #{pay_type, jdbcType=VARCHAR},
            #{organ_id, jdbcType=VARCHAR},
            current_date(),
            current_time(),
            #{pay_amount, jdbcType=DECIMAL},
            '2',
            '诺宝充值'
        )
    </insert>

</mapper>